<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      
      <button mat-list-item routerLink="/user/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon> Dashboard
      </button>
      <button mat-list-item routerLink="/user/products">
        <mat-icon mat-list-icon>inventory</mat-icon> Products
      </button>
      <button mat-list-item routerLink="/user/orders">
        <mat-icon mat-list-icon>list_alt</mat-icon>My Orders
      </button>
      <button mat-list-item routerLink="/user/cart">
        <mat-icon mat-list-icon>shopping_cart</mat-icon>My Cart
      </button>
      <button mat-list-item (click)="logout()" >
        <mat-icon mat-list-icon>logout</mat-icon>Logout
      </button>
    </mat-action-list>
  </mat-card>
